.clear {
	clear: both;
}
#header {
  height: 650px;
  background: url(../images/worldmapdark.jpg);
  background-size: cover;
}
.title {
	display: flex;
	justify-content: center;
  color: #c4efaa;
  font-size: 50px;
  font-family: 'Bungee Shade', cursive;
  padding-top: 250px;
  margin-bottom: 15px;
}
.tagline {
	display: flex;
	justify-content: center;
  color: #c4efaa;
  padding-top: 10px;
  font-size: 20px;
  font-family: 'Allerta', sans-serif;
}
.tagline a {
	color: #c4efaa;
	text-decoration: none;
}
.menu {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 25px;
	color: #c4efaa;
	font-family: 'Allerta', sans-serif;
}
.menuitems {
	font-size: 15px;
	margin-left: 25px;
  padding: 6px;
  border: #c4efaa 2px solid;
  border-radius: 10px;
	background-color: rgba(0, 0, 15, .5);
}
.menuitems a {
  text-decoration: none;
  color: #c4efaa;
}
.lessons {
	display: flex;
	justify-content: center;
	font-family: 'Allerta', sans-serif;
	color: #1B1A46;
	text-shadow: 2px 2px grey;
	font-size: 30px;
	line-height: 2.5;
	background-color: lightgrey;
}
.hexsection {
	position: relative;
  height: 480px;
	padding-top: 40px;
}
.thumbnails {
	position: relative;
  margin-left: .6%;
  margin-right: .6%;
  width: 240px;
  height: 260px;
  background-size: cover;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
/*.thumnails:hover {
	background-color: blue;

}*/
/*.overlay {
 position: relative;
 margin-left: 1%;
 margin-right: 1%;
 width: 240px;
 height: 260px;
 background-color: black;
 -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
 clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}*/
.hexcover {
	position: relative;
	top: -480px;
}
.row1 {
	display: flex;
	justify-content: center;
	/*position: relative;*/
}
.row2 {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 46px;
}

/*make each photo uniform with a color overlay, or make them black and white*/


/*to make an a tag look normal (not like a hyperlink)
text-decoration: none;
color: black;*/


/*FIRST PAGE*/
#stickyheader {
	background-color: rgba(27, 26, 68, .9);
	height: 80px;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .9);
}
.stickytitle {
  color: #c4efaa;
  font-size: 40px;
  font-family: 'Bungee Shade', cursive;
	padding-top: 10px;
}
.stickytitle a {
	color: #c4efaa;
	text-decoration: none;
}
.stickymenu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 10px 20px;
  color: #c4efaa;
}
.stickyitems {
	text-align: center;
	height: 17px;
  margin-left: 25px;
	margin-top: 15px;
  padding: 6px;
  border: #c4efaa 2px solid;
  border-radius: 10px;
	font-family: 'Allerta', sans-serif;
	font-size: 15px;
}
.stickyitems a {
  text-decoration: none;
  color: #c4efaa;
}
.fleximages {
	display: flex;
	justify-content: center;
}
.allimages {
	height: 400px;
	width: auto;
	box-shadow: 5px 5px 5px #888888;
}
.globe {
	height: 400px;
	width: auto;
}
.SPtitle {
	display: flex;
	justify-content: center;
	font-family: 'Allerta', sans-serif;
	color: #1B1A46;
	text-shadow: 2px 2px grey;
	font-size: 30px;
	margin: 50px 0;
}
.SPlessons {
	margin: 30px 0 20px 0;
	font-family: 'Allerta', sans-serif;
	font-size: 30px;
	color: #1B1A46;
	margin-left: 4%;
}
.focalsentance {
	margin: 20px 0 20px 6%;
	font-family: 'Allerta', sans-serif;
	font-size: 20px;
	color: #1B1A46;
	line-height: 1.5;

}
.text {
	font-family: 'Allerta', sans-serif;
	font-size: 20px;
	color: #1B1A46;
	margin: 0 4%;
	line-height: 1.5;
}
.line {
	width: 90%;
	margin: 0 5% 50px 5%;
	height: 80px;
	border-bottom: 2px solid #1B1A46;
}
#target {
	margin-top: 20px;
}
.displaynone {
	display: none;
}
#target2 {
	position: relative;
	bottom: 80px;
}
.backtotop {
	text-align: center;
	height: 25px;
	font-size: 16px;
	font-family: 'Allerta', sans-serif;
	color: white;
	background-color: #1B1A46;
	border-radius: 6px;
	padding-top: 10px;
	width: 12%;
	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
	float: right;
	margin-right: 5%;
	margin-top: 10px;
}
.backtotop a {
	text-decoration: none;
	color: white;
}
.spacer {
height: 80px;
}
.me {
  border-radius: 50%;
	height: 300px;
	width: auto;
	float: right;
	margin-right: 10%;
}
.sppics {
	float: right;
	margin: 0 5%;
}
.hextags {
	position: relative;
	font-family: 'Allerta', sans-serif;
	font-size: 30px;
	color: #1B1A46;
	z-index: 100;
	/*margin: 0 4%;
	line-height: 1.5;*/
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 480px) {
  #header {
    height: 300px;
    background: url(../images/worldmapdark.jpg);
    background-size: cover;
  }
	.title {
		display: flex;
		justify-content: center;
		color: #c4efaa;
		font-size: 25px;
		font-family: 'Bungee Shade', cursive;
		padding-top: 100px;
		margin-bottom: 5px;
	}
	.tagline {
		display: flex;
		justify-content: center;
		color: #c4efaa;
		margin: 5px 0;
		font-size: 12px;
		font-family: 'Allerta', sans-serif;
	}
	.menu {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 10px;
		color: #c4efaa;
		font-family: 'Allerta', sans-serif;
	}
	.menuitems {
		font-size: 10px;
		text-align: center;
		margin-left: 5px;
		padding: 2px;
		border: #c4efaa .5px solid;
		border-radius: 4px;
		background-color: rgba(0, 0, 15, .5);
	}
	.lessons {
		display: flex;
		justify-content: center;
		font-family: 'Allerta', sans-serif;
		color: #1B1A46;
		text-shadow: 1px 1px grey;
		font-size: 15px;
		line-height: 2.5;
		background-color: lightgrey;
	}
	.hexsection {
	  height: 170px;
	}
	.thumbnails {
	  margin-left: 2%;
	  margin-right: 2%;
	  width: 100px;
	  height: 110px;
	  background-size: cover;
	  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}
	.row1 {
		display: flex;
		justify-content: center;
	}
	.row2 {
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 12px;
		z-index: 10;
	}
	/*FIRST PAGE*/
	#stickyheader {
		background-color: rgba(27, 26, 68, .9);
		height: 50px;
		width: 100%;
		position: fixed;
		z-index: 100;
		top: 0;
		box-shadow: 5px 5px 5px #888888;
	}
	.stickytitle {
	  display: none;
	}
	.stickymenu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 10px 5%;
		padding: 2px 4px;
	  color: #c4efaa;
	}
	.stickyitems {
		text-align: center;
		height: 10px;
	  margin-left: 5px;
		margin-top: 5px;
	  padding: 3px;
	  border: #c4efaa .5px solid;
	  border-radius: 4px;
		font-family: 'Allerta', sans-serif;
		font-size: 10px;
	}
	.allimages {
		height: 200px;
		width: auto;
	}
	.globe {
		height: 200px;
		width: auto;
	}
	.SPtitle {
		display: flex;
		justify-content: center;
		font-family: 'Allerta', sans-serif;
		color: #1B1A46;
		text-shadow: 1px 1px grey;
		font-size: 15px;
		line-height: 2.5;
		margin: 20px 0;
	}
	.SPlessons {
		margin-top: 20px;
		font-family: 'Allerta', sans-serif;
		font-size: 15px;
		color: #1B1A46;
		margin-left: 4%;
	}
	.focalsentance {
		margin: 10px 0 10px 6%;
		font-family: 'Allerta', sans-serif;
		font-size: 15px;
		color: #1B1A46;
		line-height: 1.5;
	}
	.text {
		font-family: 'Allerta', sans-serif;
		font-size: 10px;
		color: #1B1A46;
		margin: 0 4%;
		line-height: 1.5;
	}
	.line {
		width: 90%;
		margin: 0 5% 10px 5%;
		height: 60px;
		border-bottom: 1px solid #1B1A46;
	}
	#target {
		margin-top: 20px;
	}
	.displaynone {
		display: none;
	}
	#target2 {
		position: relative;
		bottom: 80px;
	}
	.backtotop {
		text-align: center;
		height: 15px;
		font-size: 10px;
		font-family: 'Allerta', sans-serif;
		color: white;
		background-color: #1B1A46;
		border-radius: 4px;
		padding-top: 3px;
		width: 20%;
		border-bottom: 1px solid grey;
		border-right: 1px solid grey;
		float: right;
		margin-right: 5%;
		margin-top: 15px;
	}
	.spacer {
		margin-bottom: 30px;
	}
@media screen and (min-width: 480px) and (max-width: 768px) {
	#header {
		height: 400px;
	}
	.title {
		font-size: 30px;
		padding-top: 150px;
		margin-bottom: 5px;
	}
	.tagline {
		margin: 6px 0;
		font-size: 12px;
	}
	.menu {
		margin-top: 12px;
	}
	.menuitems {
		font-size: 12px;
		margin-left: 6px;
		padding: 3px;
	}
	.lessons {
		text-shadow: 1px 1px grey;
		font-size: 15px;
		line-height: 2.5;
		background-color: lightgrey;
	}
	.hexsection {
		height: 170px;
	}
	.thumbnails {
		margin-left: 2%;
		margin-right: 2%;
		width: 100px;
		height: 110px;
		background-size: cover;
		-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	}
	.row1 {
		display: flex;
		justify-content: center;
	}
	.row2 {
		display: flex;
		justify-content: center;
		position: relative;
		bottom: 12px;
		z-index: 10;
	}
	/*FIRST PAGE*/
	#stickyheader {
		background-color: rgba(27, 26, 68, .9);
		height: 50px;
		width: 100%;
		position: fixed;
		z-index: 100;
		top: 0;
	}
	.stickytitle {
		display: none;
	}
	.stickymenu {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 10px 5%;
		padding: 2px 4px;
		color: #c4efaa;
	}
	.stickyitems {
		text-align: center;
		height: 10px;
		margin-left: 5px;
		margin-top: 5px;
		padding: 3px;
		border: #c4efaa .5px solid;
		border-radius: 4px;
		font-family: 'Allerta', sans-serif;
		font-size: 10px;
	}
	.allimages {
		height: 200px;
		width: auto;
	}
	.globe {
		height: 200px;
		width: auto;
	}
	.SPtitle {
		display: flex;
		justify-content: center;
		font-family: 'Allerta', sans-serif;
		color: #1B1A46;
		text-shadow: 1px 1px grey;
		font-size: 15px;
		line-height: 2.5;
		margin-bottom: 10px;
	}
	.SPlessons {
		margin-top: 20px;
		font-family: 'Allerta', sans-serif;
		font-size: 15px;
		color: #1B1A46;
		margin-left: 4%;
	}
	.focalsentance {
		margin: 10px 0 10px 6%;
		font-family: 'Allerta', sans-serif;
		font-size: 15px;
		color: #1B1A46;
		line-height: 1.5;
	}
	.text {
		font-family: 'Allerta', sans-serif;
		font-size: 10px;
		color: #1B1A46;
		margin: 0 4%;
		line-height: 1.5;
	}
	.line {
		width: 90%;
		margin: 0 5% 10px 5%;
		height: 60px;
		border-bottom: 1px solid #1B1A46;
	}
	#target {
		margin-top: 20px;
	}
	.displaynone {
		display: none;
	}
	#target2 {
		position: relative;
		bottom: 80px;
	}
	.backtotop {
		text-align: center;
		height: 15px;
		font-size: 10px;
		font-family: 'Allerta', sans-serif;
		color: white;
		background-color: #1B1A46;
		border-radius: 4px;
		padding-top: 3px;
		width: 20%;
		border-bottom: 1px solid grey;
		border-right: 1px solid grey;
		float: right;
		margin-right: 5%;
		margin-top: 15px;
	}
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  #posts {

  }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  #posts {

  }
}
